{% extends "base.html" %}
{% block content %}
<div class="content">
        
        <div class="header">
            
            <h1 class="page-title">FAQ</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">FAQ</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
         This page has an error message on it.
    </div>

<div class="faq-content">
    <h2>Most Frequently Asked</h2>
    <ol>
        <li><a href="#q1">How to resolve if I have a question?</a></li>
        <li><a href="#q2">Where can I get support?</a></li>
        <li><a href="#q3">How long does the information upgrate?</a></li>
    </ol>

    <h2>About The Service</h2>
    <ol>
        <li><a href="#q11">How to obtain data of different format?</a></li>
        <li><a href="#q12">what kind of data I can obtain</a></li>
        <li><a href="#q13">How to detect your secure domain?</a></li>
    </ol>

    <hr>

    <h2>Most Frequently Asked Questions</h2>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
    <h3 id="q1">How to resolve if I have a question?</h3>
    <p>If you have questions,you can enter 'contact' page and email to us,to submite your question.</p>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
    <h3 id="q2">Where can I get support?</h3>
    <p>You can obtain the lastest bad domain datas and their download files.Besides,you also can look up the domains information of security and whois.</p>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
    <h3 id="q3">How long does the infomation update?</h3>
    <p>We update the domain data source one times a day at 01:00 a.m.</p>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
    <hr>
    <h2>About The Service</h2>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
    <h3 id="q11">How to obtain data of different format?</h3>
    <p>Enter the download page,choose the format what you need.</p>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
    <h3 id="q12">what kind of data I can obtain</h3>
    <p>We offer cvs json and txt three types of data files.</p>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
    <h3 id="q13">How to detect your secure domain?</h3>
    <p>Enter the detect page,input the domain which you suspect,wait a while,you will obtain the detect result.</p>
    <a href="#" style="float: right; line-height: 1.25em; display: inline-block; padding: .75em 0em;"><i class="icon-circle-arrow-up"></i> Top</a>
</div>


                    
                    <footer>
                        <hr>
                        
                        <p class="pull-right">Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                        

                        <p>© 2012 <a href="#" target="_blank">Portnine</a></p>
                    </footer>
                    
            </div>
        </div>
    </div>
   {% endblock %}